.place {
  background-color: #2c3639;
  border-radius: 12px;
}

.fox {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  aspect-ratio: 1/1;
  animation: slideOut 1s ease-out; /* Adjust the duration and timing function as needed */
}

@keyframes slideOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
