@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

html {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: hsl(44, 21%, 83%);
}

@keyframes slideOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-out {
  animation: slideOut 1s ease-out;
}

