@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
}
