h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px !important;
  font-weight: bold !important;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px !important;
  font-weight: lighter !important;
}
